<header class="bg-[#222327]/80 backdrop-blur-sm shadow-md z-30 border-b border-[#3b3a3f] sticky top-0 left-0 right-0">
    <div class="max-w-4xl mx-auto w-full px-4 py-3 flex justify-between items-center">
        <h1 class="text-xl font-semibold tracking-wide text-[#FCFCFA]">ItsAllSemantics</h1>
        <button class="text-slate-400 hover:text-[#FF6188] transition-colors" title="Menu">
            <i class="fas fa-bars fa-lg"></i>
        </button>
    </div>
</header>
